services:
  blog1-service-a:
    image: josephvelliah/blog1-service-a:latest
    ports:
      - "5000:5000"
    environment:
      - NAME=blog1-service-a
    deploy:
      resources:
        limits:
          cpus: '0.5'
          memory: 128M
        reservations:
          cpus: '0.25'
          memory: 64M

  blog1-service-b:
    image: josephvelliah/blog1-service-b:latest
    ports:
      - "5001:5001"
    environment:
      - NAME=blog1-service-b
    deploy:
      resources:
        limits:
          cpus: '0.5'
          memory: 128M
        reservations:
          cpus: '0.25'
          memory: 64M
